.container {
  container: post / inline-size;
}
.wrapper {
  display: flex;
  flex-direction: row;
  height: 240px;
  border: 1px solid red;
}
.text {
  margin: 0;
  flex: 3;
  background-color: green;
  padding: 12px;
}
.image {
  margin: initial;
}

@container post (width <= 800px) {
  .wrapper {
    display: block;
    height: auto;
  }
  .image {
    margin: auto;
  }
}
